
<div class="row width">
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Curso Practico de React Js</h2>
                    <a href="https://platzi.com/p/joseivanzapataramirez/curso/1651-react-ejs/diploma/detalle/?fbclid=IwAR3Nykdbyf8iI3fPxYbmQ3m2xezNjEZJtn0GOoLHzHJjJhzgK_SjSIHVij8" target="_blank">Check in Platzi</a>
                    
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Curso de Tecnología para Gerentes y Directores</h2>
                    <a href="https://platzi.com/p/joseivanzapataramirez/curso/1882-tecnologia-gerentes/diploma/detalle/?fbclid=IwAR3KowGQq790F9TU9Mf5nhsJPo0nQ0L5jEw8GpMO2qZyM3GQzYKolAGI5jw" target="_blank">Check in Platzi</a>
                    
                </div>
            </div>
        </mat-card>
    </div>
    
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2> Curso Básico de JavaScript</h2>
                    <a href="https://platzi.com/p/joseivanzapataramirez/curso/1814-basico-javascript/diploma/detalle/?fbclid=IwAR2VBfusxn4mNWqp_vDf5VdNn8o3FsHVVfqG2p5BKusvTMFxmktTWOidCnU" target="_blank">Check in Platzi</a>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Informatic Engineer In Universidad Nacional Experiemntal del Tachira</h2>
                </div>
            </div>
        </mat-card>
    </div>
</div>