
<div class="row width">
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                   <img src="../../../assets/cultura.e646eb37.jpg" alt="" width="100%"> 
                </div>
                <div class="col-md-6 col-xs-12">
                     <h2>Cultura Global</h2>
                     <p>It is a website that I made in Laravel Framework and I have made a backend administration and template's Implementation for to show whole information about events. In Cordoba Argentina</p>
                     <a href="http://culturaglobal.com.ar/" target="_blank">Show</a>
                    </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img src="../../../assets/diexsur.1c7476fc.jpg" alt="" width="100%"> 
                 </div>
                 <div class="col-md-6 col-xs-12">
                     <h2>Diexsur</h2>
                     <p>That Work was made in Codeigniter, install an admin template and create a CRM to clean service in Spain</p>
                     <a href="https://diexsur.com/" target="_blank">Show</a>
                    </div>
            </div>
        </mat-card>
    </div>
    
    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img src="../../../assets/joven.95bf389c.jpg" alt="" width="100%"> 
                 </div>
                 <div class="col-md-6 col-xs-12">
                     <h2>Joven.Lat</h2>
                     <p>That Work was made with Codeigniter in MVC Arquitecture and modified the CSS interface. It is a Website From Paraguay</p>
                     <a href="https://joven.lat/" target="_blank">Show</a>
                    </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img src="../../../assets/DonBodegon.PNG" alt="" width="100%"> 
                 </div>
                 <div class="col-md-6 col-xs-12">
                     <h2>Don Bodegon</h2>
                     <p>It is a website that I made in Laravel Framework and Voyager composer dependence by laravel, Is an accounting software where show all inventori, incomes and sales. In San Cristobal Venezuela</p>
                     <a href="http://sistema.grupodonbodegon.com/admin" target="_blank">Show</a>
                 </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-12 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img src="../../../assets/filiatly.PNG" alt="" width="100%"> 
                 </div>
                 <div class="col-md-6 col-xs-12">
                     <h2>Filiatly</h2>
                     <p>Implementation a email sender for the creation content software and

                        Implementation a chat for create comunication betweend partners and brands</p>
                     <a href="https://www.filiatly.com/es/" target="_blank">Show</a>
                 </div>
            </div>
        </mat-card>
    </div>
</div>