<div class="row width">
    <div class="col-md-6 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Villartechnologies</h2>
                    <p>Sofware Developer</p>
                    <p>From Aug-2016 to Jan-2021</p>
                    <p>Web Product Creation for other companies around the world like Spain, Paraguay, Argentina</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Don Bodegon</h2>
                    <p>Sofware Developer</p>
                    <p>Jan-2021 - currently</p>
                    <p>Creation an accounting system for to control sales of supermarket product</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-xs-12 margin">
        <mat-card>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Filiatly</h2>
                    <p>Sofware Developer</p>
                    <p>Oct-2020 - Apr-2021</p>
                    <p>Implementation a email sender for the creation content software</p>
                    <p>Implementation a chat for create comunication betweend partners and brands</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>