<div class="row center-xs height ">
    <div class="images"></div>
    <div class="col-xs-6 ">
        <div class="box ">
            <app-box-text></app-box-text>
        </div>
        
        <div class=" title ">
            <img src="../../assets/pp.jpg" alt="" class="image">
        </div>
        <div class=" title-bold software ">
            Software Developer
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 title-bold centered" >
                <p class="laravel" > Laravel</p> <p class="spaces">-</p> <p class="laravel">  Angular</p> <p class="spaces">-</p>  <p class="laravel"> CSS </p> <p class="spaces">-</p>  <p class="laravel"> HTML </p>  <p class="spaces">-</p> <p class="laravel"> JavaScript </p> <p class="spaces">-</p> <p class="laravel"> SQL </p>
            </div>
        </div>
    </div>
</div>