
        
        <div class="row width gray">
            <div class="col-md-12">
                <h2 class="gray">PHP</h2>
            </div>
            <div class="col-md-4  col-xs-4">
            
                <app-skills [data]="data[2]" ></app-skills>
           
            </div>
            
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[3]" ></app-skills>

            </div>
           
                
        </div>

        <h2>Javascript</h2>
        <div class="row width">
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[2]" ></app-skills>

            </div>
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[5]" ></app-skills>

            </div>
            
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[6]" ></app-skills>

            </div>

        </div>
        
        <div class="row width gray">
            <div class="col-md-12">
                <h2>Web Design</h2>
            </div>
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[7]" ></app-skills>

            </div>
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[8]" ></app-skills>

            </div>
            
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[9]" ></app-skills>

            </div>
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[10]" ></app-skills>

            </div>
            
            <div class="col-md-3  col-xs-3">
                <app-skills [data]="data[11]" ></app-skills>

            </div>

        </div>

        <h2>Database</h2>
        <div class="row width">
            <div class="col-md-4  col-xs-4">
            
                <app-skills [data]="data[12]" ></app-skills>
           
            </div>
            
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[13]" ></app-skills>

            </div>
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[14]" ></app-skills>

            </div>
        </div>
        
        <div class="row width gray">
            <div class="col-md-12"><h2>Personality</h2></div>
            <div class="col-md-4  col-xs-4">
            
                <app-skills [data]="data[15]" ></app-skills>
           
            </div>
            
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[16]" ></app-skills>

            </div>
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[17]" ></app-skills>

            </div>
            <div class="col-md-4  col-xs-4">
                <app-skills [data]="data[18]" ></app-skills>

            </div>
        </div>
              